input[type=email], input[type=password], input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.btn_hp {

	width: 160px;
	height: 544px;
	margin: 20px;
	background-color: transparent;
	border: none;

}

button {

    width: 100%;
    color: darkred;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}

.middle {

	width: 714px;
	height: 504px;
	background-color: transparent;
	margin: 40px;
	border: none;
}
